/*
    CSS styles for the whole website
    The file is included in the genericpage.tag template
 */

#topmenu_login_dialogue
{
    font-size: smaller;
}

.image-background {
    background-color: #3C1560;
}

.bg-menu {
    background-color: #D2CDA4;
}