/*
    CSS styles for the whole website
    The file is included in the genericpage.tag template
 */

#topmenu_login_dialogue
{
    font-size: smaller;
}

.image-background {
    background-color: #3C1560;
}

.bg-menu {
    background-color: #D2CDA4;
}


/* ------ signup / login ----- */
.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}


.form-login .form-floating:focus-within {
    z-index: 2;
}

.form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}