/*
    CSS styles for the whole website
    The file is included in the genericpage.tag template
 */

#topmenu_login_dialogue
{
    font-size: smaller;
}

.image-background {
    background-color: #3C1560;
}

.bg-menu {
    background-color: #D2CDA4;
}


/* ------ signup ----- */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.btn-login {
    background: #83BCF1;
}

.form-control {
    background-color: #F5F6FA;
}

/* ------ order confirmation ----- */
.order-confirmation-paragraph,.order-confirmation-title{
    color: #777777;
    font-family: Segoe UI;
}

.order-confirmation-background {
    background-color: #8FDB9C;
}

.order-confirmation-border{
    border-style: solid;
    height: 100px;
    border: 2px #707070;
}
